#TextBox_Text
{
	background-color:rgb(45,45,45);
	
	
	border:0px solid rgba(45,45,45,0.5);
	
	outline:none;
	
	overflow:auto;

	color:rgba(58,130,90,1);
	font-family:等线;
	font-size:16px;
}

#TextBox_Text:hover
{

}

#TextBox_Text:focus
{

}

#TextBox_Textarea
{
	background-color:rgb(45,45,45);
	
	
	border:0px solid rgba(45,45,45,0.5);
	
	outline:none;
	
	overflow:auto;

	color:rgba(58,130,90,1);
	font-family:等线;
	font-size:20px;
	
	line-height:1.25;
}

#TextBox_Textarea:hover
{
	
}

#TextBox_Textarea:focus
{

}

#TextBox_Number
{
	background-color:rgb(45,45,45);
	
	
	border:0px solid rgba(45,45,45,0.5);
	
	outline:none;
	
	overflow:auto;

	color:rgba(58,130,90,1);
	font-family:等线;
	font-size:16px;
	text-align:center;
}

#TextBox_Number:hover
{

}

#TextBox_Number:focus
{

}

#TextBox_Commander
{
	background-color:rgb(45,45,45);
	
	
	border:0px solid rgba(45,45,45,0.5);
	
	outline:none;
	
	overflow:auto;

	color:rgba(58,130,90,1);
	font-family:Consolas;
	font-size:15px;
}

#TextBox_Commander:hover
{

}

#TextBox_Commander:focus
{

}
